.footer {
    background-color: coral;
    background-repeat: no-repeat;
    align-items: center;
    font-family: 'Roboto';
    padding: 0.7%;
    line-height: 2;
    position: relative;
    bottom: 200px;
    
}

.footer-container {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  position: relative;
  bottom: 20px;
  
}

.footer-section {
  flex: 1;
}

.footer-heading {
  position: relative;
  font-size: 24px;
  right: 80px;
  margin-bottom: 20px;
}

.footer-heading1 {
  position: relative;
  font-size: 24px;
  right: 85px;
  color: black;
  top: 1px;
  margin-bottom: 20px;
}

.footer-heading2 {
  position: relative;
  font-size: 24px;
  right: 5px;
  color: black;
  top: 1px;
  margin-bottom: 20px;
}

.footer-heading3 {
  position: relative;
  font-size: 24px;
  left: 5px;
  color: black;
  top: 1px;
  margin-bottom: 20px;
}

.footer-description {
    position: relative;
    right: 100px;
    font-size: 18px;
    line-height: 1.5;
    color: black;
    font-style: italic;
}

.footer-links {
  list-style: none;
  padding: 0;
}

.footer-links li {
  margin-bottom: 10px;
}


.footer-links a {
  color: #fff;
  text-decoration: none;
  font-size: 18px;
  transition: color 0.3 ease;
}

.footer-links a:hover{
    color: black;
}

.social-links {
    list-style: none;
    padding: 0;
}
  
  .social-links li {
    margin-bottom: 10px;
}
  
  .social-links a {
    color: #fff;
    text-decoration: none;
    font-size: 24px;
    margin-right: 15px;
}

.social-links a svg {
    width: 24px;
    height: 24px;
    vertical-align: middle;
    color: white;
    transition: color 0.3s ease;
  }
  
  .social-links a:hover svg {
    color: #007bff;
  }  
  
  .footer-bottom {
    text-align: center;
    margin-top: 20px;
}
  
  .footer-bottom p {
    font-size: 14px;
}  