.loja {
    height: 1177px;
}


.color-title {
    text-align: center;
    padding: 5px 10px 5px 10px;
    position: relative;
    bottom: 160px;
    width: 1200px;
    left: 18%;
    height: 60px;
}

.titulo-page {  
    font-family: "verdana";
    position: relative;
    bottom: 25px;
    font-size: 50px;
    font-weight: 500;
}

.setinha2 {
    float: right;
    transform: rotate(180deg);
    cursor: pointer;
}

.setinha1 {
    cursor: pointer;
}

.Pedro {
    max-width: 70%;
    margin: 0 auto;
    font-family: "Work Sans", sans-serif;
    white-space: nowrap ;
    height: 900px;
    position: relative;
    bottom: 130px;
    
}

.imgcontainer1, .imgcontainer2, .imgcontainer3 {
    display: flex;
    flex-direction: row;
    gap: 50px;
    position: relative;
    left: 165px;
    top: 20px;

}

.titulos1, .titulos2, .titulos3 {
    display: flex;
    flex-direction: row;
    gap: 205px;
    position: relative;
    left: 170px;
    bottom: 40px;
    font-weight: bold;
    z-index: 2;
}

.imagem2 {
    background-color: white;
    padding: 15px 15px 60px 15px;

    box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.5);
}

.sub-titulos1 {
    display: flex;
    flex-direction: row;
    position: relative;
    left: 170px;
    bottom: 67px;
    font-size: 13px;
}

.sub-titulos2 {
    display: flex;
    flex-direction: row;
    position: relative;
    left: 170px;
    bottom: 67px;
    font-size: 13px;
}

.sub-titulos3 {
    display: flex;
    flex-direction: row;
    position: relative;
    left: 170px;
    bottom: 67px;
    font-size: 13px;
}

.sub-titulos1, .sub-titulos2, .sub-titulos3{
    z-index: 2;
}

.sub-titulo3-1{
    position: relative;
    right: 50px;
}

.titulo3-1{
    position: relative;
    right: 102px;
}

.sub-titulo2-1, .titulo2-1{
    position: relative;
    right: 20px;
}

.sub-titulo1-1{
    position: relative;
    right: 28px;
}

.titulo1-1{
    position: relative;
    left: 28px;
}

.titulo2-2{
    position: relative;
    right: 15px;
}

.mulher-loja {
    position: relative;
    left: 64%;
}

.flor {
    position: relative;
    left: 0.03%;
}

.low-container {
    position: relative;
    bottom: 240px;
}

.sub-titulos1, .sub-titulos2, .sub-titulos3 {
    gap: 130px;
}

.sub-titulos2, .sub-titulos3 {
    gap: 90px;
}