.navbar {
      
    display: flex;
    align-items: center;
    height: 60px;
    padding: 0 20px;
    position: relative;
    z-index: 2;    
  }
  
  .navbar-nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
  }
  
  .nav-item {
    margin-right: 30px;
    font-size: 25px;
    position: relative;
    font-style: bold;
    left: 730px;
  }
  
  .nav-link {
    color: #6E9325;
    font-weight: 600;
    text-decoration: none;
    padding: 10px;
    border-radius: 30px;
    transition: 0.1s;
  }
  
  .nav-link:hover {
    background-color: #141414;
    color: #fff;
  }