.navbar {
    background-color: orange;
    display: flex;
    align-items: center;
    height: 60px;
    padding: 0 20px;
    position: relative;
    z-index: 2;
    margin-bottom: 205px;
    box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.3);
    
  }
  
  .navbar-nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
  }
  
  .nav-item {
    margin-right: 30px;
    font-size: 25px;
    position: relative;
    font-style: bold;
    left: 930px;
  }
  
  .nav-link {
    color: #000000;
    text-decoration: none;
    padding: 10px;
    border-radius: 30px;
    transition: 0.1s;
  }
  
  .nav-link:hover {
    background-color: #141414;
    color: #fff;
  }