.Sobre{
    height: 1161px;
}


.titulo {
    position: relative;
    font-family: "Homenaje", sans-serif;
    font-size: 80px;
    padding-left: 52px;
    color: #757882;
}

.subtitulo {
    position: relative;
    font-family: "RocknRoll One", sans-serif;
    color: #0C0400;
    padding-left: 60px;
    width: 60%;
    font-size: 23px;
    opacity: 67%;

}

.imgmacaco {
    position: relative;
    float: right;
    bottom: 340px;
    right: 30px;

}

.imgmacaco img {
    box-shadow: 0px 4px 12px black;
    border-radius: 30px;

}

.imgmulherubanda {
    position: relative;
    left: 84.7%;
 
}

.flor {
    position: relative;
    left: 100px;

}

.lowtitulo {
    font-family: "Homenaje", sans-serif;
    color: #757882;
    font-size: 80px;
    position: relative;
    left: 10%;
    
}

.containerblack {
    position: relative;
    top: 221px;

}

.lowcontainer {
    display: flex;
    justify-content: center;
    position: relative;
    bottom: 400px;
    left: 16%;
    
}

.footer {
    position: relative;
    top: 21px;

}

.descContainer {
    font-family: 'Roboto';
    width: 50%;
    color: #0C0400;
    opacity: 67%;
    position: relative;
    top: 135px;
    right: 22%;
    text-transform: uppercase;

}

.name {
    font-size: 30px;
    z-index: 1;

}

.subname {
    font-size: 22px;
    z-index: 1;
        
}